@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Actualizado con tu color #9D2053 pero con transparencia (0.15) */
.bg-grid-pattern {
  background-image: radial-gradient(rgba(157, 32, 83, 0.15) 1px, transparent 1px);
  background-size: 30px 30px;
}